[submodule "opencensus-csharp"]
	path = opencensus-csharp
	url = ./opencensus-csharp
[submodule "csharp-netcore"]
	path = csharp-netcore
	url = ./csharp-netcore
[submodule "jaeger-kubernetes"]
	path = jaeger-kubernetes
	url = ./jaeger-kubernetes
[submodule "jaeger-client-csharp"]
	path = jaeger-client-csharp
	url = ./jaeger-client-csharp
[submodule "opentracing-csharp"]
	path = opentracing-csharp
	url = ./opentracing-csharp
