[submodule "opencensus-csharp"]
	path = opencensus-csharp
	url = ./opencensus-csharp
[submodule "csharp-netcore"]
	path = csharp-netcore
	url = ./csharp-netcore
[submodule "jaeger-kubernetes"]
	path = jaeger-kubernetes
	url = ./jaeger-kubernetes
